<div class="voivodeships-container">
  <mat-toolbar-row>
    <strong>Wyszukaj zarejestrowane delegatury oraz dzielnice</strong>
    <button mat-button (click)="getDeleganciesQuarters()">Wyszukaj</button>
  </mat-toolbar-row>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Nazwa">
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa}} </td>
    </ng-container>
    <ng-container matColumnDef="Stan na">
      <th mat-header-cell *matHeaderCellDef> Stan na </th>
      <td mat-cell *matCellDef="let element"> {{element.stanNa | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="Nazwa Terytorialna">
      <th mat-header-cell *matHeaderCellDef> Nazwa Terytorialna </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwaTerytorialna}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
