<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{title2}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <p>TERC</p>
    <mat-list>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajWojewodztwa']">Województwa</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajPowiaty']">Powiaty</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajPowiat']">Powiat </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajMiastaWojewodztwo']">Miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajDelegaturyDzielnice']">Delegatury dzielnice</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajTerenyWiejskieWPowiecie']">Tereny wiejskie</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/DajGminy']">Gminy</a>
      </mat-list-item>
    </mat-list>
    <p>SIMC</p>
    <mat-nav-list>
    </mat-nav-list>
    <p>ULIC</p>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>