<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-list-item [routerLink]="['/Start']">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <h1>{{title2}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <p>TERC</p>
    <mat-list>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajWojewodztwa']">Województwa</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajPowiaty']">Powiaty</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajMiastaWojewodztwo']">Miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajDelegaturyDzielnice']">Delegatury dzielnice</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajTerenyWiejskieWPowiecie']">Tereny wiejskie</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajGminy']">Gminy</a>
      </mat-list-item>
    </mat-list>
    <p>SIMC</p>
    <mat-nav-list>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajMiastaWojewodztwo']">Miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajDelegaturyMiast']">Delegatury</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajSchroniskaTurstyczne']">Schroniska turystyczne</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajCzesciMiejscowosci']">Części miejscowości</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajOsadyWPowiecie']">Osady</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajWsieWPowiecie']">Wsie w powiecie</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajCzesciMiasta']">Części miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajCaleWsie']">Całe wsie</a>
      </mat-list-item>
    </mat-nav-list>
    <p>ULIC</p>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  Stanislaw Kluczewski © 2023
</footer>
