<div class="menu-container">
  <h1>Rejestr Teryt</h1>
  <p><strong>TERYT (Krajowy Rejestr Urzędowy Podziału Terytorialnego Kraju)</strong>
    to rejestr urzędowy podziału terytorialnego Polski, prowadzony przez Główny Urząd Statystyczny. Teryt pozwala łatwo
    odnaleźć informacje związane kwestią administracyjną podziału jednostkowego Polski. Jeśli szukasz informacji o
    numerach SYM, SYMPOD, MZ czy RM danej jednostki to owych przypadkach aplikacja Teryt ujawni owe informacje.
  </p>
  <h4> Krajowy rejestr urzędowy podziału terytorialnego kraju obejmuje systemy:</h4>
  <ul>
    <li><strong>TERC </strong> system identyfikatorów i nazewnictw jednostek podziału terytorialnego</li>
    <li><strong>SIMC </strong> system identyfikatorów i nazewnictw miejscowości</li>
    <li><strong>ULIC </strong> system nazewnictw ulic </li>
  </ul>
  <span>Oficjalny rejestr prowadzony przez GUS znajduję się:
    <a href="https://eteryt.stat.gov.pl">eteryt.stat</a>
  </span>
  <h2 *ngIf="!this.isLogged"><a [routerLink]="['/Start/Log-in']">Zaloguj się</a> w celu korzystania aplikacji Teryt. Nie
    masz konta? <a [routerLink]="['/Start/Log-in']">Zarejestruj się.</a></h2>
</div>