.menu-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: justify;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

h1 {
  letter-spacing: 0.08rem;
  font-weight: 300;
}

ul {
  list-style: none;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}


a {
  text-decoration: none;
}