.cities-voivodeship-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}


.mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0em 0em 0em 0em;
}

form {
  margin-top: 10px;
}



.mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

th.mat-header-cell {
  margin-right: 10px;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  font-size: 1.1rem;
  font-weight: 300;
}

td,
th {
  border: 1px solid rgb(99, 6, 99);
}

table {
  margin-top: 10px;
  width: 50%;
  border: 1px solid black;
  text-align: center;
}

button {
  padding: 0px 5px 0px 5px;
  font-size: 1.1rem;
  border: 1px solid purple;
  background-color: whitesmoke;
  margin-left: 10px;
}

button:hover {
  border: 1px solid whitesmoke;
  background-color: purple;
  color: white;
  transition: 0.3s;
}

mat-form-field {
  display: inline-block;
  padding: 0px 0px 0px 0px;
}

input {
  border: 1px solid black;
}

strong {
  margin-right: 10px;
}


@media only screen and (min-width: 200px) {
  table {
    width: 25%;
  }

  .form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
  }

  .form-container strong {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  mat-form-field {
    margin-top: 10px;
  }

  th.mat-header-cell {
    font-size: 10px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  td,
  th {
    font-size: 10px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
  }

  button {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 500px) {
  table {
    width: 60%;

  }

  th.mat-header-cell {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  td,
  th {
    font-size: 10px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
  }
}

@media only screen and (min-width: 600px) {
  table {
    width: 70%;
  }

  th.mat-header-cell {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  .form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
  }

  .form-container strong {
    font-size: 1.1rem;
    margin-top: 5px;
  }

  mat-form-field {
    margin-top: 10px;
  }

  td,
  th {
    font-size: 15px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
  }

  button {
    font-size: 1rem;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  table {
    margin-top: 10px;
    width: 50%;
  }

  th.mat-header-cell {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }


  .form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.1rem;
  }

  .form-container strong {
    font-size: 1.2rem;
  }

  td,
  th {
    font-size: 15px;
  }

  mat-toolbar-row {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
  }
}