.cities-part-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

th.mat-header-cell {
  margin-right: 10px;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  font-size: 1.1rem;
  font-weight: 300;
}

td,
th {
  border: 1px solid rgb(99, 6, 99);
}

table {
  margin-top: 10px;
  width: 50%;
  border: 1px solid black;
  text-align: center;
}

button {
  padding: 0px 5px 0px 5px;
  font-size: 1.1rem;
  border: 1px solid purple;
  background-color: whitesmoke;
}

button:hover {
  border: 1px solid whitesmoke;
  background-color: purple;
  color: white;
  transition: 0.3s;
}

mat-form-field {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.form-container {
  margin-top: 10px;
}

@media only screen and (min-width: 200px) {
  table {
    width: 25%;
  }

  .form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
  }

  strong {
    font-size: 0.7rem;
    margin-top: 5px;
  }

  mat-form-field {
    margin-top: 10px;
  }

  th.mat-header-cell {
    font-size: 10px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  td,
  th {
    font-size: 10px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
  }

  mat-form-field {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 500px) {
  table {
    width: 65%;
  }

  th.mat-header-cell {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  td,
  th {
    font-size: 12px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
  }

  mat-form-field {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }

  strong {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 600px) {
  table {
    width: 70%;
  }

  th.mat-header-cell {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  .form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
  }

  strong {
    font-size: 1rem;
    margin-top: 5px;
  }

  mat-form-field {
    font-size: 0.9rem;
  }

  td,
  th {
    font-size: 15px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
  }

  button {
    font-size: 1rem;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  table {
    margin-top: 10px;
    width: 50%;
  }

  th.mat-header-cell {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }


  .form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.1rem;
  }

  strong {
    font-size: 1.2rem;
  }

  mat-form-field {
    font-size: 1.1rem;
  }

  td,
  th {
    font-size: 15px;
  }

  mat-toolbar-row {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
  }

  button {
    font-size: 1.2rem;
  }
}