<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <button mat-icon-button (click)="opened=!opened" *ngIf="this.userIsLogged">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-list-item [routerLink]="['/Start']">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </a>
    </span>
    <h1>{{title2}}</h1>
    <span class="user-panel">
      <a *ngIf="!this.userIsLogged" mat-list-item [routerLink]="['/Start/Log-in']">
        <button mat-icon-button>
          <mat-icon>login</mat-icon>
        </button>
      </a>
      <p *ngIf="this.userIsLogged">{{this.userEmail}}</p>
      <a *ngIf="this.userIsLogged" mat-list-item>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </a>
      <a *ngIf="!this.userIsLogged" mat-list-item [routerLink]="['/Start/Sign-in']">
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side" *ngIf="this.userIsLogged">
    <div class="nav-header">
      <p>TERC</p>
      <button class="header-button">
        <mat-icon class="horizontal-icon" (click)="this.openedTerc = !this.openedTerc">more_horizontal</mat-icon>
      </button>
    </div>
    <mat-list *ngIf="this.openedTerc">
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajWojewodztwa']">Województwa</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajPowiaty']">Powiaty</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajMiastaWojewodztwo']">Miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajDelegaturyDzielnice']">Delegatury dzielnice</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajTerenyWiejskieWPowiecie']">Tereny wiejskie</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/TERC/DajGminy']">Gminy</a>
      </mat-list-item>
    </mat-list>
    <div class="nav-header">
      <p>SIMC</p>
      <button class="header-button">
        <mat-icon class="horizontal-icon" (click)="this.openedSimc = !this.openedSimc">more_horizontal</mat-icon>
      </button>
    </div>
    <mat-nav-list *ngIf="this.openedSimc">
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajMiastaWojewodztwo']">Miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajDelegaturyMiast']">Delegatury</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajSchroniskaTurstyczne']">Schroniska turystyczne</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajCzesciMiejscowosci']">Części miejscowości</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajOsadyWPowiecie']">Osady</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajWsieWPowiecie']">Wsie w powiecie</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajCzesciMiasta']">Części miasta</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/SIMC/DajCaleWsie']">Całe wsie</a>
      </mat-list-item>
    </mat-nav-list>
    <div class="nav-header">
      <p>ULIC</p>
      <button class="header-button">
        <mat-icon class="horizontal-icon" (click)="this.openedUlic = !this.openedUlic">more_horizontal</mat-icon>
      </button>
    </div>
    <mat-nav-list *ngIf="this.openedUlic">
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/ULIC/DajMostyWWojewodztwie']">Mosty</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/ULIC/DajDrogi']">Drogi ścieżki</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/ULIC/DajRynki']">Rynki place</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/ULIC/DajParkiWWojewodztwie']">Parki ogrody</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/ULIC/DajUliceWMiescie']">Ulice w mieście</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item [routerLink]="['/ULIC/DajUliceWPowiecie']">Ulice w powiecie</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  Stanislaw Kluczewski © 2023
</footer>
