<div class="bridges-list-container">
  <strong>W którym województwie chcesz szukać mostów?</strong>
  <form class="form-container" [formGroup]="selected" (ngSubmit)="getBridgesInVoivodeship()">
    <mat-form-field appearance="fill">
      <mat-select matNativeControl required formControlName="wojewodztwoId" placeholder="Województwo">
        <mat-option *ngFor="let voivo of voivodeships" [value]="voivo.value">
          {{voivo.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button type="submit">Szukaj mostów</button>
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Nazwa">
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa1}} </td>
    </ng-container>
    <ng-container matColumnDef="Nazwa dodatkowa">
      <th mat-header-cell *matHeaderCellDef> Nazwa dodatkowa </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa2}} </td>
    </ng-container>
    <ng-container matColumnDef="Cecha">
      <th mat-header-cell *matHeaderCellDef>Cecha</th>
      <td mat-cell *matCellDef="let element"> {{element.cecha}} </td>
    </ng-container>
    <ng-container matColumnDef="Nazwa SIMC">
      <th mat-header-cell *matHeaderCellDef>Lokalizacja</th>
      <td mat-cell *matCellDef="let element"> {{element.nazwaSimc}} </td>
    </ng-container>
    <ng-container matColumnDef="Stan na">
      <th mat-header-cell *matHeaderCellDef> Stan na </th>
      <td mat-cell *matCellDef="let element"> {{element.stanNa | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
