<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\terytLogs.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="Teryt" xsi:type="Database"
		  connectionString="Server=localhost;Database=Teryt;user=sa;password=Studenci2022;TrustServerCertificate=true;"
		  dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
		  commandText="INSERT INTO Logs(Date,Level, Message, MachineName, Logger)
					   VALUES (@Date,@Level,@Message,@Machinename,@Logger)">
			<parameter name="@Date" layout="${longdate}" dbType="DateTime" />
			<parameter name="@Level" layout="${level}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Machinename" layout="${machinename}"/>
			<parameter name="@Logger" layout="${logger}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minLevel="Info" writeTo="logconsole" />
		<logger name="*" minLevel="Error" writeTo="Teryt" />
	</rules>
</nlog>