<div class="market-squares-list-container">
  <strong>Żeby wyszukać rynki wybierz województwo, a następnie powiat</strong>
  <form class="form-container" [formGroup]="selected" (ngSubmit)="getMarketSquares()">
    <mat-form-field appearance="fill">
      <mat-select matNativeControl required formControlName="wojewodztwoId" (valueChange)="showCounties($event)"
        placeholder="Województwo">
        <mat-option *ngFor="let voivo of voivodeships" [value]="voivo.value">
          {{voivo.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-select matNativeControl required formControlName="powiatId" placeholder="Powiat">
        <mat-option *ngFor="let county of counties" [value]="county.powiatId">
          {{county.nazwa}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button>Wyszukaj rynki</button>
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Nazwa">
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa1}} </td>
    </ng-container>
    <ng-container matColumnDef="Nazwa dodatkowa">
      <th mat-header-cell *matHeaderCellDef> Nazwa dodatkowa </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa2}} </td>
    </ng-container>
    <ng-container matColumnDef="Cecha">
      <th mat-header-cell *matHeaderCellDef>Cecha</th>
      <td mat-cell *matCellDef="let element"> {{element.cecha}} </td>
    </ng-container>
    <ng-container matColumnDef="Stan na">
      <th mat-header-cell *matHeaderCellDef> Stan na </th>
      <td mat-cell *matCellDef="let element"> {{element.stanNa | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
