@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}